html, body, ul, li, ol,header,nav,footer,main, dl, dd, dt, p, h1,textarea, h2, h3, h4, h5, h6, form, fieldset, legend, img,a,span,i,b,input,button,div,select,option,table,tr,td,th,marquee,section,aside,article,mark{margin:0; padding:0;box-sizing: border-box;font-size: 12px;}
ul li{list-style:none;} 
a{text-decoration:none;}
